.content-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem; /* Reduced font size */
  line-height: 1.4; /* Adjust line height if needed */
}

.text-column h3 {
  font-size: 1.2rem; /* Adjust heading size */
  margin-bottom: 0.5rem;
}

.text-column p {
  font-size: 0.75rem; 
}

.image-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-image {
  max-width: 65%;
  height: 80%;
  border-radius: 5px;
}
