.dark-gray-footer {
    background-color: darkgray !important;
    color: white !important;
  }
  
  .dark-gray-footer a,
  .dark-gray-footer p {
    color: white !important;
  }
  
  .dark-gray-navbar {
    background-color: darkgray !important;
  }
  
  .dark-gray-navbar .nav-link {
    color: #ccc !important; /* Default color */
    transition: color 0.3s ease; /* Smooth transition */
  }
  
  .dark-gray-navbar .nav-link:hover {
    color: white !important; /* Color on hover */
  }
  
  .dark-gray-navbar .nav-link.logout-link:hover {
    color: red !important; /* Red color on hover for logout */
  }