.footer {
  background-color: #343a40;
  color: white; 
  padding: 1rem 0; 
}

.footer p, .footer a {
  color: white;
}

.footer a:hover {
  color: #adb5bd; 
}

.btn-primary {
  border: none; 
}

.btn-primary.btn-floating {
  color: white; 
}

.btn-primary.btn-floating:hover {
  background-color: #495057; 
}


#Insta:hover {
  background-color: #E1306C !important;
}

#Twitter:hover {
  background-color: black !important;
}

#Youtube:hover {
  background-color: red !important;
}



.footer-nav {
  list-style: none; 
  padding: 0;
  display: flex; 
  justify-content: center;
  gap: 30px; 
}

.footer-nav li {
  margin: 0;
}

.footer-nav a {
  color: white; 
  text-decoration: none; 
}

.footer-nav a:hover {
  color: #adb5bd; 
}