

  .scrolled-background {
    background-color: #fff;
  }
  
  
  
  .navbar-brand{
    color:#ffb347 !important;
    font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",

  }

  .nav-link{
    color: #ffb347 !important;
  }