.dark-gray-navbar {
  background-color: #6f42c1; /* Adjust the color as needed */
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ddd !important;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #6f42c1;
}
